<?xml version="1.0"?>
<!--
/**
 * SixtySeven
 *
 * @category   SixtySeven
 * @package    SixtySeven_DeleteOrders
 * @copyright  Copyright (c) SixtySeven (https://www.67commerce.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ssdeleteorder" frontName="ssdeleteorder">
            <module name="SixtySeven_DeleteOrders" />
        </route>
    </router>
</config>
